openapi: 3.2.0
info:
  title: U.S. Department of State — state.gov Content Search API
  version: wp/v2
  summary: Public, unauthenticated read access to state.gov press releases, briefings, reports, biographies, bureaus, country pages and policy issues.
  description: The Department of State publishes www.state.gov on WordPress and exposes the WordPress REST API at https://www.state.gov/wp-json.
  contact:
    name: U.S. Department of State
    url: https://www.state.gov/
  license:
    name: U.S. Government Work (17 U.S.C. 105) — see the state.gov copyright notice
    url: https://www.state.gov/copyright-information/
servers:
- url: https://www.state.gov/wp-json
  description: Production state.gov WordPress REST API.
security: []
tags:
- name: Search
  description: Cross-content search across state.gov content types.
paths:
  /wp/v2/search:
    get:
      operationId: listSearchResult
      summary: List search
      description: Cross-content search across state.gov content types. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages response headers.
      tags:
      - Search
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - state_biography
            - state_people
            - state_press_release
            - state_briefing
            - state_bureau
            - state_country
            - state_policy_issue
            - state_term_coll
            - state_standard_land
            - state_report
            - state_trip_travel
            - state_ext_content
            - state_state
            - category
            - post_tag
            - state_author_groups
            - state_briefing_type
            - state_countries_and_areas
            - state_document_type
            - state_policy_issues
            - state_report_types
            - state_states
            - state_subjects
            - state_years
            - state_biography_types
            - any
            type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      responses:
        '200':
          description: A collection of search items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: No route or resource matched.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
  schemas:
    RestError:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
    SearchResult:
      $schema: http://json-schema.org/draft-04/schema#
      title: search-result
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type:
          - integer
          - string
          readOnly: true
        title:
          description: The title for the object.
          type: string
          readOnly: true
        url:
          description: URL to the object.
          type: string
          format: uri
          readOnly: true
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
          readOnly: true
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - state_biography
          - state_people
          - state_press_release
          - state_briefing
          - state_bureau
          - state_country
          - state_policy_issue
          - state_term_coll
          - state_standard_land
          - state_report
          - state_trip_travel
          - state_ext_content
          - state_state
          - category
          - post_tag
          - state_author_groups
          - state_briefing_type
          - state_countries_and_areas
          - state_document_type
          - state_policy_issues
          - state_report_types
          - state_states
          - state_subjects
          - state_years
          - state_biography_types
          readOnly: true
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords. Advertised by the Department at https://www.state.gov/wp-json/ under authentication.application-passwords, authorization endpoint https://www.state.gov/wp-admin/authorize-application.php. Editorial use only — the public read surface requires no credentials.
externalDocs:
  description: WordPress REST API handbook — the upstream specification this surface implements
  url: https://developer.wordpress.org/rest-api/
x-generated-from: https://www.state.gov/wp-json/ route index + HTTP OPTIONS on each collection and item route (fetched 2026-09-07)
x-apievangelist-method: derived
x-method: derived
x-source-url: https://www.state.gov/wp-json/
x-provenance: Derived by the API Evangelist enrichment pipeline on 2026-09-07 from the Department of State's own live machine-readable discovery documents — the 473-route index at https://www.state.gov/wp-json/ and an HTTP OPTIONS response for each collection and item route, which returns the provider-authored JSON Schema and argument list. Every path, parameter, schema and error code below appears in one of those documents. The Department does not publish an OpenAPI description; verbatim copies of the source documents are in openapi/_original/. NOT harvested, NOT scaffolded — do not treat as a provider-published contract.
