openapi: 3.1.0
info:
  title: U.S. Department of State — state.gov Content API
  version: wp/v2
  summary: Public, unauthenticated read access to state.gov press releases, briefings, reports, biographies, bureaus, country
    pages and policy issues.
  description: 'The Department of State publishes www.state.gov on WordPress and exposes the WordPress REST API at https://www.state.gov/wp-json.
    Alongside the core WordPress resources the Department registers its own content types and taxonomies (state_press_release,
    state_briefing, state_report, state_biography, state_bureau, state_country, state_policy_issue, state_trip_travel and
    others), all readable anonymously over HTTPS with no API key. Write operations exist but require an authenticated editorial
    account (WordPress Application Passwords) and are not available to the public.


    This description was derived mechanically from the Department''s own live discovery documents: the route index at https://www.state.gov/wp-json/
    and an HTTP OPTIONS request against each collection and item route, which returns the provider-authored JSON Schema and
    argument list for that resource. No paths, parameters or schemas were invented. The verbatim source documents are kept
    in openapi/_original/.'
  contact:
    name: U.S. Department of State
    url: https://www.state.gov/
  license:
    name: U.S. Government Work (17 U.S.C. 105) — see the state.gov copyright notice
    url: https://www.state.gov/copyright-information/
servers:
- url: https://www.state.gov/wp-json
  description: Production state.gov WordPress REST API.
externalDocs:
  description: WordPress REST API handbook — the upstream specification this surface implements
  url: https://developer.wordpress.org/rest-api/
tags:
- name: categories
  description: WordPress category taxonomy.
- name: media
  description: Media library attachments (images, PDFs, video posters).
- name: pages
  description: state.gov pages.
- name: posts
  description: WordPress posts.
- name: search
  description: Cross-content search across state.gov content types.
- name: state_archive_tags
  description: Archive tag taxonomy.
- name: state_author_groups
  description: Author group taxonomy.
- name: state_biography
  description: Biographies of Department principals and officials.
- name: state_biography_types
  description: Biography type taxonomy.
- name: state_briefing
  description: Press briefings, remarks and transcripts.
- name: state_briefing_type
  description: Briefing type taxonomy.
- name: state_bureau
  description: Bureaus and offices of the Department of State.
- name: state_countries_and_areas
  description: Countries and areas taxonomy.
- name: state_country
  description: Country and area landing content.
- name: state_document_type
  description: Document type taxonomy.
- name: state_ext_content
  description: Externally sourced content syndicated onto state.gov.
- name: state_live_draft_tags
  description: Live draft tag taxonomy.
- name: state_people
  description: People records used across state.gov.
- name: state_policy_issue
  description: Policy issue landing content.
- name: state_policy_issues
  description: Policy issues taxonomy.
- name: state_press_release
  description: Press releases issued by the Office of the Spokesperson and Department bureaus.
- name: state_report
  description: Department reports (human rights, religious freedom, trafficking in persons, and others).
- name: state_report_types
  description: Report type taxonomy.
- name: state_rss_feeds
  description: Configured RSS feed definitions.
- name: state_standard_land
  description: Standard landing pages.
- name: state_state
  description: State (U.S. state) content type.
- name: state_states
  description: U.S. states taxonomy.
- name: state_subjects
  description: Subject taxonomy.
- name: state_term_coll
  description: Term collection content.
- name: state_trip_travel
  description: Official travel by the Secretary and other principals.
- name: state_years
  description: Year taxonomy.
- name: tags
  description: WordPress post tag taxonomy.
- name: taxonomies
  description: Registered taxonomies and their REST bases.
- name: types
  description: Registered content types and their REST bases.
security: []
paths:
  /wp/v2/categories:
    get:
      operationId: listCategory
      summary: List categories
      description: WordPress category taxonomy. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages
        response headers.
      tags:
      - categories
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A collection of categories items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createCategory
      summary: Create a categories item
      description: Create a new categories item. Requires an authenticated editorial account; anonymous callers receive 401.
      tags:
      - categories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: HTML description of the term.
                  type: string
                name:
                  description: HTML title for the term.
                  type: string
                slug:
                  description: An alphanumeric identifier for the term unique to its type.
                  type: string
                parent:
                  description: The parent term ID.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                acf:
                  description: ACF field data
                  type: object
              required:
              - name
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/categories/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the categories item.
      schema:
        type: integer
    get:
      operationId: getCategory
      summary: Retrieve a categories item
      tags:
      - categories
      security: []
      description: Retrieve a single categories item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateCategory
      summary: Update a categories item
      tags:
      - categories
      description: Update an existing categories item. Requires an authenticated editorial account. WordPress accepts POST,
        PUT or PATCH for this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: HTML description of the term.
                  type: string
                name:
                  description: HTML title for the term.
                  type: string
                slug:
                  description: An alphanumeric identifier for the term unique to its type.
                  type: string
                parent:
                  description: The parent term ID.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                acf:
                  description: ACF field data
                  type: object
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCategory
      summary: Delete a categories item
      tags:
      - categories
      description: Trash or permanently delete a categories item. Requires an authenticated editorial account.
      parameters:
      - name: force
        in: query
        description: Required to be true, as terms do not support trashing.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/media:
    get:
      operationId: listAttachment
      summary: List media
      description: Media library attachments (images, PDFs, video posters). Returns a JSON array; total counts are carried
        in the X-WP-Total and X-WP-TotalPages response headers.
      tags:
      - media
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: inherit
          items:
            enum:
            - inherit
            - private
            - trash
            type: string
      - name: media_type
        in: query
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          default: null
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
      - name: mime_type
        in: query
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          default: null
          items:
            type: string
      responses:
        '200':
          description: A collection of media items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createAttachment
      summary: Create a media item
      description: Create a new media item. Requires an authenticated editorial account; anonymous callers receive 401.
      tags:
      - media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                template:
                  description: The theme file to use to display the post.
                  type: string
                acf:
                  description: ACF field data
                  type: object
                alt_text:
                  description: Alternative text to display when attachment is not displayed.
                  type: string
                caption:
                  description: The attachment caption.
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      readOnly: true
                description:
                  description: The attachment description.
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      readOnly: true
                post:
                  description: The ID for the associated post of the attachment.
                  type: integer
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/media/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the media item.
      schema:
        type: integer
    get:
      operationId: getAttachment
      summary: Retrieve a media item
      tags:
      - media
      security: []
      description: Retrieve a single media item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAttachment
      summary: Update a media item
      tags:
      - media
      description: Update an existing media item. Requires an authenticated editorial account. WordPress accepts POST, PUT
        or PATCH for this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                template:
                  description: The theme file to use to display the post.
                  type: string
                acf:
                  description: ACF field data
                  type: object
                alt_text:
                  description: Alternative text to display when attachment is not displayed.
                  type: string
                caption:
                  description: The attachment caption.
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      readOnly: true
                description:
                  description: The attachment description.
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      readOnly: true
                post:
                  description: The ID for the associated post of the attachment.
                  type: integer
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAttachment
      summary: Delete a media item
      tags:
      - media
      description: Trash or permanently delete a media item. Requires an authenticated editorial account.
      parameters:
      - name: force
        in: query
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/pages:
    get:
      operationId: listPage
      summary: List pages
      description: state.gov pages. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages response
        headers.
      tags:
      - pages
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: menu_order
        in: query
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - congress
            - press
            - dp-rewrite-republish
            - any
            type: string
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: state_author_groups
        in: query
        description: Limit result set to items with specific terms assigned in the state_author_groups taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_author_groups_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_author_groups taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_countries_and_areas
        in: query
        description: Limit result set to items with specific terms assigned in the state_countries_and_areas taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_countries_and_areas_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_countries_and_areas
          taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_document_type
        in: query
        description: Limit result set to items with specific terms assigned in the state_document_type taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_document_type_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_document_type taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_policy_issues
        in: query
        description: Limit result set to items with specific terms assigned in the state_policy_issues taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_policy_issues_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_policy_issues taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_states
        in: query
        description: Limit result set to items with specific terms assigned in the state_states taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_states_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_states taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_subjects
        in: query
        description: Limit result set to items with specific terms assigned in the state_subjects taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_subjects_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_subjects taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_archive_tags
        in: query
        description: Limit result set to items with specific terms assigned in the state_archive_tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_archive_tags_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_archive_tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_live_draft_tags
        in: query
        description: Limit result set to items with specific terms assigned in the state_live_draft_tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_live_draft_tags_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_live_draft_tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_rss_feeds
        in: query
        description: Limit result set to items with specific terms assigned in the state_rss_feeds taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_rss_feeds_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_rss_feeds taxonomy.
        schema:
          type:
          - object
          - array
      responses:
        '200':
          description: A collection of pages items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Page'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createPage
      summary: Create a pages item
      description: Create a new pages item. Requires an authenticated editorial account; anonymous callers receive 401.
      tags:
      - pages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                password:
                  description: A password to protect access to the content and excerpt.
                  type: string
                parent:
                  description: The ID for the parent of the post.
                  type: integer
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                content:
                  description: The content for the post.
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      readOnly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      readOnly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                excerpt:
                  description: The excerpt for the post.
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      readOnly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      readOnly: true
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                menu_order:
                  description: The order of the post in relation to other posts.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                template:
                  description: The theme file to use to display the post.
                  type: string
                state_author_groups:
                  description: The terms assigned to the post in the state_author_groups taxonomy.
                  type: array
                  items:
                    type: integer
                state_countries_and_areas:
                  description: The terms assigned to the post in the state_countries_and_areas taxonomy.
                  type: array
                  items:
                    type: integer
                state_document_type:
                  description: The terms assigned to the post in the state_document_type taxonomy.
                  type: array
                  items:
                    type: integer
                state_policy_issues:
                  description: The terms assigned to the post in the state_policy_issues taxonomy.
                  type: array
                  items:
                    type: integer
                state_states:
                  description: The terms assigned to the post in the state_states taxonomy.
                  type: array
                  items:
                    type: integer
                state_subjects:
                  description: The terms assigned to the post in the state_subjects taxonomy.
                  type: array
                  items:
                    type: integer
                state_archive_tags:
                  description: The terms assigned to the post in the state_archive_tags taxonomy.
                  type: array
                  items:
                    type: integer
                state_live_draft_tags:
                  description: The terms assigned to the post in the state_live_draft_tags taxonomy.
                  type: array
                  items:
                    type: integer
                state_rss_feeds:
                  description: The terms assigned to the post in the state_rss_feeds taxonomy.
                  type: array
                  items:
                    type: integer
                acf:
                  description: ACF field data
                  type: object
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/pages/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the pages item.
      schema:
        type: integer
    get:
      operationId: getPage
      summary: Retrieve a pages item
      tags:
      - pages
      security: []
      description: Retrieve a single pages item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updatePage
      summary: Update a pages item
      tags:
      - pages
      description: Update an existing pages item. Requires an authenticated editorial account. WordPress accepts POST, PUT
        or PATCH for this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                password:
                  description: A password to protect access to the content and excerpt.
                  type: string
                parent:
                  description: The ID for the parent of the post.
                  type: integer
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                content:
                  description: The content for the post.
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      readOnly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      readOnly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                excerpt:
                  description: The excerpt for the post.
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      readOnly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      readOnly: true
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                menu_order:
                  description: The order of the post in relation to other posts.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                template:
                  description: The theme file to use to display the post.
                  type: string
                state_author_groups:
                  description: The terms assigned to the post in the state_author_groups taxonomy.
                  type: array
                  items:
                    type: integer
                state_countries_and_areas:
                  description: The terms assigned to the post in the state_countries_and_areas taxonomy.
                  type: array
                  items:
                    type: integer
                state_document_type:
                  description: The terms assigned to the post in the state_document_type taxonomy.
                  type: array
                  items:
                    type: integer
                state_policy_issues:
                  description: The terms assigned to the post in the state_policy_issues taxonomy.
                  type: array
                  items:
                    type: integer
                state_states:
                  description: The terms assigned to the post in the state_states taxonomy.
                  type: array
                  items:
                    type: integer
                state_subjects:
                  description: The terms assigned to the post in the state_subjects taxonomy.
                  type: array
                  items:
                    type: integer
                state_archive_tags:
                  description: The terms assigned to the post in the state_archive_tags taxonomy.
                  type: array
                  items:
                    type: integer
                state_live_draft_tags:
                  description: The terms assigned to the post in the state_live_draft_tags taxonomy.
                  type: array
                  items:
                    type: integer
                state_rss_feeds:
                  description: The terms assigned to the post in the state_rss_feeds taxonomy.
                  type: array
                  items:
                    type: integer
                acf:
                  description: ACF field data
                  type: object
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deletePage
      summary: Delete a pages item
      tags:
      - pages
      description: Trash or permanently delete a pages item. Requires an authenticated editorial account.
      parameters:
      - name: force
        in: query
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/posts:
    get:
      operationId: listPost
      summary: List posts
      description: WordPress posts. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages response
        headers.
      tags:
      - posts
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - congress
            - press
            - dp-rewrite-republish
            - any
            type: string
      - name: tax_relation
        in: query
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: categories
        in: query
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
        schema:
          type:
          - object
          - array
      - name: categories_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
        schema:
          type:
          - object
          - array
      - name: tags
        in: query
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: tags_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_author_groups
        in: query
        description: Limit result set to items with specific terms assigned in the state_author_groups taxonomy.
        schema:
          type:
          - object
          - array
      - name: state_author_groups_exclude
        in: query
        description: Limit result set to items except those with specific terms assigned in the state_author_groups taxonomy.
        schema:
          type:
          - object
          - array
      - name: sticky
        in: query
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        description: Whether to ignore sticky posts or not.
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: Limit result set to items assigned one or more given formats.
        schema:
          type: array
          items:
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
            type: string
          uniqueItems: true
      responses:
        '200':
          description: A collection of posts items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createPost
      summary: Create a posts item
      description: Create a new posts item. Requires an authenticated editorial account; anonymous callers receive 401.
      tags:
      - posts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                password:
                  description: A password to protect access to the content and excerpt.
                  type: string
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                content:
                  description: The content for the post.
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      readOnly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      readOnly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                excerpt:
                  description: The excerpt for the post.
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      readOnly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      readOnly: true
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                format:
                  description: The format for the post.
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                    _yoast_wpseo_focuskw:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    _yoast_wpseo_title:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    _yoast_wpseo_metadesc:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                sticky:
                  description: Whether or not the post should be treated as sticky.
                  type: boolean
                template:
                  description: The theme file to use to display the post.
                  type: string
                categories:
                  description: The terms assigned to the post in the category taxonomy.
                  type: array
                  items:
                    type: integer
                tags:
                  description: The terms assigned to the post in the post_tag taxonomy.
                  type: array
                  items:
                    type: integer
                state_author_groups:
                  description: The terms assigned to the post in the state_author_groups taxonomy.
                  type: array
                  items:
                    type: integer
                acf:
                  description: ACF field data
                  type: object
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/posts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the posts item.
      schema:
        type: integer
    get:
      operationId: getPost
      summary: Retrieve a posts item
      tags:
      - posts
      security: []
      description: Retrieve a single posts item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updatePost
      summary: Update a posts item
      tags:
      - posts
      description: Update an existing posts item. Requires an authenticated editorial account. WordPress accepts POST, PUT
        or PATCH for this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  description: The date the post was published, in the site's timezone.
                  type:
                  - string
                  - 'null'
                  format: date-time
                date_gmt:
                  description: The date the post was published, as GMT.
                  type:
                  - string
                  - 'null'
                  format: date-time
                slug:
                  description: An alphanumeric identifier for the post unique to its type.
                  type: string
                status:
                  description: A named status for the post.
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  - congress
                  - press
                password:
                  description: A password to protect access to the content and excerpt.
                  type: string
                title:
                  description: The title for the post.
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      readOnly: true
                content:
                  description: The content for the post.
                  type: object
                  properties:
                    raw:
                      description: Content for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML content for the post, transformed for display.
                      type: string
                      readOnly: true
                    block_version:
                      description: Version of the content block format used by the post.
                      type: integer
                      readOnly: true
                    protected:
                      description: Whether the content is protected with a password.
                      type: boolean
                      readOnly: true
                author:
                  description: The ID for the author of the post.
                  type: integer
                excerpt:
                  description: The excerpt for the post.
                  type: object
                  properties:
                    raw:
                      description: Excerpt for the post, as it exists in the database.
                      type: string
                    rendered:
                      description: HTML excerpt for the post, transformed for display.
                      type: string
                      readOnly: true
                    protected:
                      description: Whether the excerpt is protected with a password.
                      type: boolean
                      readOnly: true
                featured_media:
                  description: The ID of the featured media for the post.
                  type: integer
                comment_status:
                  description: Whether or not comments are open on the post.
                  type: string
                  enum:
                  - open
                  - closed
                ping_status:
                  description: Whether or not the post can be pinged.
                  type: string
                  enum:
                  - open
                  - closed
                format:
                  description: The format for the post.
                  type: string
                  enum:
                  - standard
                  - aside
                  - chat
                  - gallery
                  - link
                  - image
                  - quote
                  - status
                  - video
                  - audio
                meta:
                  description: Meta fields.
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                    _yoast_wpseo_focuskw:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    _yoast_wpseo_title:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    _yoast_wpseo_metadesc:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                    footnotes:
                      type: string
                      title: ''
                      description: ''
                      default: ''
                sticky:
                  description: Whether or not the post should be treated as sticky.
                  type: boolean
                template:
                  description: The theme file to use to display the post.
                  type: string
                categories:
                  description: The terms assigned to the post in the category taxonomy.
                  type: array
                  items:
                    type: integer
                tags:
                  description: The terms assigned to the post in the post_tag taxonomy.
                  type: array
                  items:
                    type: integer
                state_author_groups:
                  description: The terms assigned to the post in the state_author_groups taxonomy.
                  type: array
                  items:
                    type: integer
                acf:
                  description: ACF field data
                  type: object
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deletePost
      summary: Delete a posts item
      tags:
      - posts
      description: Trash or permanently delete a posts item. Requires an authenticated editorial account.
      parameters:
      - name: force
        in: query
        description: Whether to bypass Trash and force deletion.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/search:
    get:
      operationId: listSearchResult
      summary: List search
      description: Cross-content search across state.gov content types. Returns a JSON array; total counts are carried in
        the X-WP-Total and X-WP-TotalPages response headers.
      tags:
      - search
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - state_biography
            - state_people
            - state_press_release
            - state_briefing
            - state_bureau
            - state_country
            - state_policy_issue
            - state_term_coll
            - state_standard_land
            - state_report
            - state_trip_travel
            - state_ext_content
            - state_state
            - category
            - post_tag
            - state_author_groups
            - state_briefing_type
            - state_countries_and_areas
            - state_document_type
            - state_policy_issues
            - state_report_types
            - state_states
            - state_subjects
            - state_years
            - state_biography_types
            - any
            type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      responses:
        '200':
          description: A collection of search items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/state_archive_tags:
    get:
      operationId: listStateArchiveTags
      summary: List state_archive_tags
      description: Archive tag taxonomy. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages
        response headers.
      tags:
      - state_archive_tags
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A collection of state_archive_tags items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StateArchiveTags'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createStateArchiveTags
      summary: Create a state_archive_tags item
      description: Create a new state_archive_tags item. Requires an authenticated editorial account; anonymous callers receive
        401.
      tags:
      - state_archive_tags
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: HTML description of the term.
                  type: string
                name:
                  description: HTML title for the term.
                  type: string
                slug:
                  description: An alphanumeric identifier for the term unique to its type.
                  type: string
                parent:
                  description: The parent term ID.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                acf:
                  description: ACF field data
                  type: object
              required:
              - name
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateArchiveTags'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/state_archive_tags/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the state_archive_tags item.
      schema:
        type: integer
    get:
      operationId: getStateArchiveTags
      summary: Retrieve a state_archive_tags item
      tags:
      - state_archive_tags
      security: []
      description: Retrieve a single state_archive_tags item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateArchiveTags'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateStateArchiveTags
      summary: Update a state_archive_tags item
      tags:
      - state_archive_tags
      description: Update an existing state_archive_tags item. Requires an authenticated editorial account. WordPress accepts
        POST, PUT or PATCH for this operation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: HTML description of the term.
                  type: string
                name:
                  description: HTML title for the term.
                  type: string
                slug:
                  description: An alphanumeric identifier for the term unique to its type.
                  type: string
                parent:
                  description: The parent term ID.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                acf:
                  description: ACF field data
                  type: object
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateArchiveTags'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteStateArchiveTags
      summary: Delete a state_archive_tags item
      tags:
      - state_archive_tags
      description: Trash or permanently delete a state_archive_tags item. Requires an authenticated editorial account.
      parameters:
      - name: force
        in: query
        description: Required to be true, as terms do not support trashing.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: The deleted item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateArchiveTags'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/state_author_groups:
    get:
      operationId: listStateAuthorGroups
      summary: List state_author_groups
      description: Author group taxonomy. Returns a JSON array; total counts are carried in the X-WP-Total and X-WP-TotalPages
        response headers.
      tags:
      - state_author_groups
      security: []
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
          default: null
      - name: slug
        in: query
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: A collection of state_author_groups items.
          headers:
            X-WP-Total:
              description: Total number of matching items.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StateAuthorGroups'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createStateAuthorGroups
      summary: Create a state_author_groups item
      description: Create a new state_author_groups item. Requires an authenticated editorial account; anonymous callers receive
        401.
      tags:
      - state_author_groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  description: HTML description of the term.
                  type: string
                name:
                  description: HTML title for the term.
                  type: string
                slug:
                  description: An alphanumeric identifier for the term unique to its type.
                  type: string
                parent:
                  description: The parent term ID.
                  type: integer
                meta:
                  description: Meta fields.
                  type: object
                acf:
                  description: ACF field data
                  type: object
              required:
              - name
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateAuthorGroups'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /wp/v2/state_author_groups/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: Unique identifier for the state_author_groups item.
      schema:
        type: integer
    get:
      operationId: getStateAuthorGroups
      summary: Retrieve a state_author_groups item
      tags:
      - state_author_groups
      security: []
      description: Retrieve a single state_author_groups item by numeric id.
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: The requested item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StateAuthorGroups'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateStateAuthorGroups
      summary: Update a state_author_groups item
      tags:
      - state_author_groups
[...]
